node_modules
npm-debug.log
.git
.gitignore
README.md
.nyc_output
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sqlite
*.sqlite3
.DS_Store
dist
uploads/*
!uploads/.gitkeep
scripts/*
test
*.spec.ts
*.test.ts
jest.config.js
.eslintrc.js
.prettierrc